<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/frag01 :: htmlhead"
	th:with="title='Spring MVC デモ'"></head>

<style>
.contents { margin-top: 30px; }
.table-container{ width:1100px;  }
.btn_edit{ font-size: 14px; }
.btn_delete{ font-size: 14px; }
.alignRight { text-align: right; }
</style>
<script>
<!--
$(document).ready(function () {
	var fBtn = false;
    var oTable = $("#shops")
    	.dataTable({
    	"bProcessing": true,
    	"bServerSide": true,
    	"bLengthChange": true,
    	"bStateSave": true,
    	"sAjaxSource": "/mvcdemo/shop/page",
    	"aLengthMenu": [[10, 20,],[10, 20]],
    	"aoColumns": [
    		 {"sTitle": "ID",      "mData": "id", "sWidth": 40, "sClass": "center" },
    		 {"sTitle": "店舗名",   "mData": "name", "sWidth": 200 },
    		 {"sTitle": "電話番号", "mData": "phone", "sWidth": 70 },
    		 {"sTitle": "メール",    "mData": "email", "sWidth": 240 },
    		 {"sTitle": "開店日",   "mData": "kaitenBi", "sWidth": 60 },
    		 {"sTitle": "従業員数", "mData": "emplNumber", "sWidth": 100, "sClass": "alignRight",
    		 	"fnCreatedCell": function (td, cellData, rowData, row, col) {
					if ( cellData > 15 ) {
    	    	        $(td).css('color', 'red');
    	    	    }
    			 }
    		 },
    		 {
                "mData": "id", "sClass": "center", "sWidth": 100, "bSortable": false,
     		 	"fnCreatedCell": function (td, cellData, rowData, row, col) {
     		 		var bd = $('<button class="btn_delete">削除</button>');
     		 		bd.button();
     		 		bd.on('click',function(){
     		 			fBtn = true;
     		 			alert("Delete:"+cellData);
                   });
     		 		var be = $('<button class="btn_edit">編集</button>');
     		 		be.button();
     		 		be.on('click',function(){
     		 			fBtn = true;
     		 			//ajax で get して成功時はダイアログを表示
     		 			$.getJSON("/mvcdemo/shop/edit/" + cellData + ".html", {}, 
     		 				function(shop){
     	     		 			$("#myModalLabel").html("店舗 (id="+cellData+") を修正してください");
     	     		 			setShop(shop.name, shop.phone, shop.email,
     	     		 					shop.kaitenBi, shop.emplNumber);
     	     		 			$('#myModal').modal('show');
     		 			});
                    });
     		 		$(td).empty();
                    $(td).prepend(bd);    		 		
                    $(td).prepend(be);    		 		
    			 }
    		 }
    	],
    	"fnServerData": function(sSource, aoData, fnCallback) {
    		saveAoData = aoData;
    		$.ajax({
    			"dataType" : 'json',
    			"contentType" : "application/json;charset=UTF-8",
    			"type" : "GET",
    			"url" : sSource,
    			"data" : aoData,
    			"success" : fnCallback
    		});
    	},
    	"oLanguage": {
            "sLengthMenu": "表示 _MENU_",
            "sSearch": "検索:",
            "oPaginate": {
            	"sFirst": "先頭 ",
            	"sLast": " 最後",
                "sNext": " 次 ",
                "sPrevious": " 前"
            },
            "sInfo": "_START_件 ～ _END_件 / _TOTAL_件"
        },
    	"sPaginationType" : "full_numbers"
    }); //dataTables
    $("#shop-create").click(function () {
		$("#myModalLabel").html("新規店舗を追加してください。");
		setShop("", "", "", "", "");	 	
	 	$('#myModal').modal('show');
    });
    
    $('#shops tbody').on( 'click', 'tr', function () {
    	if (fBtn==false) {
        	$(this).toggleClass('selected');
    	} else {
    		fBtn = false;
    	}
    } );
    function setShop(name, phone, email, kaitenBi, emplNumber) {
		$("#name").val(name);
		$("#phone").val(phone);
		$("#email").val(email);
		$("#kaitenBi").val(kaitenBi);
		$("#emplNumber").val(emplNumber);
    }
});
-->
</script>

<body>

<!-- $$$ Navigation Bar $$$$$  -->	
<div th:include="fragment/frag01 :: navbar"></div>

<div class="contents">
<div class="container">

<!-- $$$ Contents Header $$$$$  -->	
<div class="row">
<div class="col-lg-12">
	<h1 class="page-header"> 店舗一覧
		<small>(ajaxバージョン)</small>
	</h1>
</div>
</div>

<!-- $$$ Contents Body $$$$$  -->	
<div class="row">
<div class="col-lg-12">
  <div class="table-container">
    <table id="shops" class="display">
      <thead>
        <tr>
          <th>id</th>
          <th>店舗名</th>
          <th>電話番号</th>
          <th>メール</th>
          <th>開店日</th>
          <th>従業員数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br /><br />
  </div>
  
  <button id="shop-create" class="btn btn-primary btn-lg" >店舗追加</button>
  <!-- $$$ Contents Footer $$$$$  -->	
  <div th:include="fragment/frag01 :: footer"></div>
</div>
</div>

</div> <!-- Container END -->
</div> <!-- Contents END -->

<div th:include="fragment/frag01 :: shop-create-modal"></div>

</body>
</html>